node_modules/
build/
coverage/
# tests/
# src/
.env
*.log
*.tmp
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lock
*.swp
*.swo
*.bak
*.orig
*.rej
tests/
__tests__/
__mocks__/