node_modules/
build/
coverage/
tests/
.env
*.log
*.tmp
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lock
*.swp
*.swo
*.bak
*.orig
*.rej
__tests__/
__mocks__/